body{
    background-color: #0a0a23;
}

#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#controls, #stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    color: #ffffff;
    padding: 5px;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}


button{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}

#dungeonBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0a0a23;
}

#openingImage {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: #feac32;
    border: 3px solid #feac32;
    border-radius: 5px;
}
